<div class="w3-container" id="services" style="margin-top:75px">
  <h3>CREATE/EDIT</h3>
  <hr>
  <!-- #コントロールボタン -->
  <!-- 入力Form -->
  <form name="vm.form.cardForm" ng-submit="vm.save(vm.form.cardForm.$valid)" novalidate>
    <div class="w3-section">
      <label class="w3-text-black">
        <b>Card title</b>
      </label>
      <input name="title" type="text" ng-model="vm.card.title" id="title" class="w3-input w3-border" placeholder="Card Name" autofocus>
    </div>
    <div class="w3-section">
      <label class="w3-text-black">
        <b>Content</b>
      </label>
      <textarea name="back" data-ng-model="vm.card.content" id="back" class="w3-input w3-border" cols="30" rows="10" placeholder="content"></textarea>
    </div>
    <div class="w3-section">
      <button type="submit" ng-click="vm.save(vm.form.cardForm.$valid)" class="w3-button w3-green pull-right" id="btn_save_add">
        <span class="glyphicon glyphicon-floppy-save"></span> 保存</a>
      </button>
      <a data-ui-sref="admin.cards.list" class="w3-button w3-orange pull-right mg15r">キャンセル</a>
    </div>
  </form>
  <!-- #入力Form -->
</div>