<div class="w3-container header-container">
  <h3>{{ vm.title }} {{ vm.card.title }}</h3>
  <ol class="breadcrumb">
    <li>List</li>
    <li class="active">{{ vm.title }}</li>
  </ol>
  <hr>
  <!-- #コントロールボタン -->
  <div class="w3-row">
    <a class="w3-col l3 m4 s4 w3-button w3-green w3-left" ng-if="vm.card._id" data-ui-sref="admin.cards.play({id: vm.card._id})"
      title="Flash Card">
      <i class="fas fa-play"></i>
      <span class="w3-hide-small">Flash Card</span>
    </a>
    <button class="w3-col l3 m4 s4 w3-button w3-orange w3-left" type="button" ng-click="vm.chooseFolder()" title="Choose Folder">
      <i class="fas fa-folder-open"></i>
      <span class="w3-hide-small">Choose Folder</span>
      </a>
    </button>
    <button class="w3-col l3 m4 s4 w3-button w3-red w3-right" type="button" ng-click="vm.importModal()" title="Import from excel...">
      <i class="fas fa-file-excel"></i>
      <span class="w3-hide-small">Import from excel...</span>
      </a>
    </button>

  </div>

  <br>
  <!-- 入力Form -->
  <form name="vm.form.cardForm" ng-submit="vm.save(vm.form.cardForm.$valid)" novalidate>
    <div class="w3-section form-group" show-errors>
      <label class="w3-text-black">
        <b>Card title</b>
      </label>
      <input type="text" name="title" ng-model="vm.card.title" id="title" class="w3-input w3-border" placeholder="Card Name" required
        autofocus>
      <div ng-messages="vm.form.cardForm.title.$error" role="alert">
        <p class="help-block error-text" ng-message="required">Title is required.</p>
      </div>
    </div>
    <div class="w3-section">
      <label class="w3-text-black">
        <b>Content</b>
      </label>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w3-theme w3-center w60">＃</th>
            <th class="w3-theme w3-center">Front</th>
            <th class="w3-theme w3-center">Back</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="word in vm.card.words track by $index" ng-mouseenter="options=true" ng-mouseleave="options=false">
            <td class="w3-center" style="width: 100px;" ng-init="word.index = $index + 1">
              <span ng-hide="options">{{ word.index }}</span>
              <button type="button" ng-show="options" class="w3-button w3-red w3-small" ng-click="vm.removeWord(word)">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
              <input name="front" type="text" ng-model="word.index" class="w3-input w3-border w3-hide">
            </td>
            <td>
              <textarea name="front" type="text" ng-model="word.front" class="w3-input w3-border"></textarea>
            </td>
            <td>
              <textarea name="back" type="text" ng-model="word.back" class="w3-input w3-border"></textarea>
            </td>
          </tr>
          <tr>
            <td class="w3-center" colspan="3">
              <button type="button" class="w3-button w3-white w3-border" ng-click="vm.pushWord()">
                <i class="fas fa-plus"></i> Add word
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="w3-section pull-right">
      <a data-ui-sref="admin.cards.list" class="w3-button w3-gray">
        <i class="fas fa-ban"> Cancel</i>
      </a>
      <button type="submit" class="w3-button w3-green">
        <i class="fas fa-check"></i> Save</a>
      </button>
    </div>
  </form>
  <!-- #入力Form -->
</div>
<!-- modal template -->
<script type="text/ng-template" id="importModal.html">
  <div class="modal-header">
      <h4 class="modal-title">IMPORT</h4>
      <span>Import your data. Copy and Paste your data here (from Word, Excel, Google Docs, etc.)</span>
  </div>
  <div class="modal-body text-left" id="modal-body">
      <textarea name="content" ng-model="$ctrl.content" id="back" class="w3-input w3-border" cols="30" rows="15" placeholder="content"></textarea>
  </div>
  <div class="modal-footer">
      <button class="w3-button w3-gray" type="button" ng-click="$ctrl.cancel()"><i class="fas fa-ban"></i></button>
      <button class="w3-button w3-green" type="button" ng-click="$ctrl.ok($ctrl.content)"><i class="fas fa-check"></i></button>
  </div>
</script>

<script type="text/ng-template" id="addFolderModal.html">
  <div class="modal-header">
      <h4 class="modal-title">ADD A NEW FOLDER</h4>
  </div>
  <div class="modal-body text-left" id="modal-body">
    <div class="w3-row">
      <input type="text" class="w3-input w3-border" ng-model="$ctrl.content.title"/>
    </div>
  </div>
  <div class="modal-footer">
      <button class="w3-button w3-gray" type="button" ng-click="$ctrl.cancel()"><i class="fas fa-ban"></i></button>
      <button class="w3-button w3-green" type="button" ng-click="$ctrl.ok($ctrl.content)"><i class="fas fa-check"></i></button>
  </div>
</script>

<script type="text/ng-template" id="chooseFolderModal.html">
  <div class="modal-header">
      <h4 class="modal-title">CHOOSE FOLDER</h4>
      <span>Add to folder</span>
  </div>
  <div class="modal-body text-left" id="modal-body">
    <div class="w3-row">
      <button class="w3-col s12 w3-button w3-green mgtb10" type="button" ng-click="$ctrl.addNew()">
        Create a new folder <span class="glyphicon glyphicon-plus"></span>
      </button>
      <hr>
      <label ng-repeat="item in $ctrl.content.folders" class="w3-col s12 w3-border w3-button">
        <input type="checkbox" checklist-model="$ctrl.content.ids" checklist-value="item._id" class="w3-col s1">
        <strong class="w3-col s11">{{item.title}}</strong>
      </label>
    </div>
  </div>
  <div class="modal-footer">
      <button class="w3-button w3-gray" type="button" ng-click="$ctrl.cancel()"><i class="fas fa-ban"></i></button>
      <button class="w3-button w3-green" type="button" ng-click="$ctrl.ok($ctrl.content)"><i class="fas fa-check"></i></button>
  </div>
</script>
<!-- #modal template -->
