<div class="w3-container header-container" ng-if="curQuiz <= listQuiz.length">
  <!-- #コントロールボタン -->
  <!-- 入力Form -->
  <div class="w3-row play-card">
    <div class="w3-col l6 m10 s10">
      <input type="range" min="1" max="{{ listQuiz.length }}" ng-model="curQuiz" />
    </div>
    <div class="w3-col l3 m2 s2 w3-right-align">{{ curQuiz }}/{{ listQuiz.length }}</div>
  </div>

  <!-- <input type="number" ng-model="curQuiz"> -->
  <hr>
  <div class="flip play-card play-card-height" data-ng-repeat="quiz in listQuiz track by $index" ng-if="($index + 1) == curQuiz">
    <div class="card" ng-class="{'flipped':isFlipped[curQuiz]}" ng-click="flipped()">
      <div class="w3-card-4 face front w3-center">
        <div class="button-header">
          <button class="w3-button w3-text-red w3-right" ng-if="quiz.memorize > 0" ng-click="rememberIt(quiz, 0)">
            <i class="fas fa-star"></i>
          </button>
          <button class="w3-button w3-text-red w3-right" ng-if="quiz.memorize == 0" ng-click="rememberIt(quiz, 1)">
            <i class="far fa-star"></i>
          </button>
          <button class="w3-button w3-text-orange w3-right" ng-click="sayIt(quiz.word.front)">
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <div class="w3-row vertical-align" ng-style="{'color': settings.front_color }">
          <p class="w3-col s12" data-ng-repeat="st in settings.front">
            <span class="card-text" ng-class="settings.front_size">{{ quiz.word[st] }}</span>
          </p>
        </div>
      </div>
      <div class="w3-card-4 face back w3-center">
        <div class="button-header">
          <button class="w3-button w3-text-red w3-right" ng-if="quiz.memorize > 0" ng-click="rememberIt(quiz, 0)">
            <i class="fas fa-star"></i>
          </button>
          <button class="w3-button w3-text-red w3-right" ng-if="quiz.memorize == 0" ng-click="rememberIt(quiz, 1)">
            <i class="far fa-star"></i>
          </button>
          <button class="w3-button w3-text-orange w3-right" ng-click="sayIt(quiz.word.front)">
            <i class="fas fa-volume-up"></i>
          </button>
        </div>
        <div class="w3-row vertical-align" ng-style="{'color': settings.back_color }">
          <p class="w3-col s12" data-ng-repeat="st in settings.back">
            <span class="card-text" ng-class="settings.back_size">{{ quiz.word[st] }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- #入力Form -->
</div>
<footer class="w3-container w3-center play-card" style="margin-top:35px" ng-if="curQuiz <= listQuiz.length">
  <button class="w3-button w3-circle w3-theme-l1 w3-left" ng-click="prev()" ng-disabled="curQuiz == 1">
    <i class="fas fa-caret-left"></i>
  </button>

  <button class="w3-button w3-yellow w3-border w3-center" ng-if="hideBtnRandom" ng-click="random(0)">
    <i class="fas fa-random"></i>
  </button>
  <button class="w3-button w3-white w3-border w3-center" ng-if="!hideBtnRandom" ng-click="random(1)">
    <i class="fas fa-random"></i>
  </button>
  <button class="w3-button w3-yellow w3-text-red w3-border w3-center" ng-if="hideBtnFilter" ng-click="filter(0)">
    <i class="fas fa-star"></i>
  </button>
  <button class="w3-button w3-white w3-text-red w3-border w3-center" ng-if="!hideBtnFilter" ng-click="filter(1)">
    <i class="far fa-star"></i>
  </button>

  <button class="w3-button w3-white w3-text-red w3-border w3-center" ng-click="setting()">
    <i class="fa fa-feather"></i>
  </button>

  <button class="w3-button w3-circle w3-theme-l1 w3-right" ng-click="next()" ng-disabled="curQuiz == listQuiz.length + 1">
    <i class="fas fa-caret-right"></i>
  </button>
</footer>

<!-- show result -->
<div class="w3-container header-container w3-center" ng-if="curQuiz > listQuiz.length">
  <h1>Nice work!</h1>
  <h3>You just studied {{ listQuiz.length }} terms! </h3>
  <div class="w3-bar">
    <button class="w3-button w3-green" ng-click="studyAgain(0)">Study all {{ listQuizTmp.length }} terms</button>
    <button class="w3-button w3-theme-action" ng-click="studyAgain(1)">Study all {{ termRemember }}
      <i class="fas fa-star"></i> terms</button>
  </div>
</div>

<!-- modal template -->
<script type="text/ng-template" id="setting.html">
  <div class="modal-header">
    <h4 class="modal-title">SETTING</h4>
  </div>
  <div class="modal-body text-left" id="modal-body">
    <div class="w3-row">
      <div class="w3-half w3-container">
        <h4 class="w3-text-theme">FRONT</h4>
        <p>
          <label>Data Show</label>
          <br>
          <label ng-repeat="item in $ctrl.setting.list" class="w3-margin-right">
            <input type="checkbox" checklist-model="$ctrl.setting.front" checklist-value="item.id"> {{item.text}}
          </label>
        </p>
        <p>
          <label>Color</label>
          <input type="color" name="front_color" ng-model="$ctrl.setting.front_color">
        </p>
        <p>
          <label>Front size</label>
          <select class="w3-input w3-border" name="option" ng-model="$ctrl.setting.front_size">
            <option value="" disabled selected>Choose front size</option>
            <option value="font-tiny">tiny</option>
            <option value="font-small">small</option>
            <option value="font-medium">medium</option>
            <option value="font-large">large</option>
            <option value="font-xlarge">xlarge</option>
          </select>
        </p>
        <p class="front">
          <label>Demo</label><br/>
          <span class="card-text" ng-style="{'color': $ctrl.setting.front_color }">
            <span ng-class="$ctrl.setting.front_size">日本語</span>
          </span>
        </p>
      </div>
      <div class="w3-half w3-container">
        <h4 class="w3-text-theme">BACK</h4>
        <p>
          <label>
            <b>Data Show</b>
          </label>
          <br>
          <label ng-repeat="item in $ctrl.setting.list" class="w3-margin-right">
            <input type="checkbox" checklist-model="$ctrl.setting.back" checklist-value="item.id"> {{item.text}}
          </label>
        </p>
        <p>
          <label>
            <b>Color</b>
          </label>
          <input type="color" name="back_color" ng-model="$ctrl.setting.back_color">
        </p>
        <p>
          <label>Front size</label>
          <select class="w3-select" name="option" ng-model="$ctrl.setting.back_size">
            <option value="" disabled selected>Choose front size</option>
            <option value="font-tiny">tiny</option>
            <option value="font-small">small</option>
            <option value="font-medium">medium</option>
            <option value="font-large">large</option>
            <option value="font-xlarge">xlarge</option>
          </select>
        </p>
        <p class="back">
          <label>Demo</label><br/>
          <span class="card-text" ng-style="{'color': $ctrl.setting.back_color }">
            <span ng-class="$ctrl.setting.back_size">English</span>
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="w3-button w3-gray" type="button" ng-click="$ctrl.cancel()">
      <i class="fas fa-ban"></i>
    </button>
    <button class="w3-button w3-green" type="button" ng-click="$ctrl.ok($ctrl.front)">
      <i class="fas fa-check"></i>
    </button>
  </div>
</script>
<!-- #modal template -->
