<!-- The chat view -->
<section class="container">
  <div class="page-header">
    <h1>Chat Example</h1>
  </div>
  <!-- The message form -->
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <div class="list-group">
        <button type="button" ng-repeat="item in vm.listUsers" class="list-group-item" ng-click="vm.chatTo(item)">
          <strong ng-bind="item.username"></strong>
          <span class="w3-text-green">
            <i ng-if="item.online" class="fas fa-circle"></i>
          </span>
        </button>
      </div>
    </div>
    <div class="col-md-9 col-xs-9">
      <h3>
        <strong ng-bind="vm.current.title"></strong>
        <span class="w3-text-green">
          <i ng-if="vm.current.online" class="fas fa-circle"></i>
        </span>
      </h3>
      <ul class="list-group borders" ng-repeat="group in vm.messages">
        <li ng-if="group.room === vm.current._id" ng-repeat="message in group.datas" class="list-group-item">
          <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
          <strong ng-bind="message.username"></strong>
          <br>
          <span ng-bind="message.text"></span>
        </li>
      </ul>
      <hr>
      <form ng-submit="vm.sendMessage();">
        <div class="input-group">
          <input type="text" id="messageText" name="messageText" class="form-control" ng-model="vm.messageText" placeholder="Enter new message"
            autocomplete="off" autofocus>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-disabled="!vm.messageText.length">Submit</button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">

  </div>


</section>
